<div class="wrapper">
		<div class="nav-container">
			<nav class="navbar navbar-expand-lg bg-light">
				<a class="navbar-brand">
					<img style="width:95px;height:70px;" src="https://image.ibb.co/mQLeve/Rev_Chat_Logo_Cut_Out.png" alt="ERS" id="logo" /></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a *ngIf="this.user == null" class="nav-item nav-link" id="toLogin" routerLink="login">Login</a>
						<a *ngIf="this.user == null" class="nav-item nav-link" id="toRegister" routerLink="register">Register</a>
						<a *ngIf="this.user != null" class="nav-item nav-link" id="toLogout" (click)="logout()" routerLink="" >Logout</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
	